html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;  
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  /* height: auto; */
}

body {
  background-color: #FFF8F3;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;  
}